.login-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    alignItems: center;
    position: relative;
    font-family: Georgia, serif;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.login-form-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 400px;
    text-align: center;
    z-index: 1;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: var(--bg-light-grey);
    font-size: 16px;
    font-family: inherit;
}

.login-button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.login-button.user {
    background-color: var(--primary-color);
}

.login-button.admin {
    background-color: var(--secondary-color);
}

.role-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
    background-color: var(--bg-light-grey);
}

.role-select.user {
    border: 2px solid var(--primary-color);
}

.role-select.admin {
    border: 2px solid var(--secondary-color);
}

.signup-link {
    color: var(--accent-color);
    cursor: pointer;
    font-weight: bold;
}