.flight-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.no-flights {
    text-align: center;
    padding: 50px;
    color: var(--text-muted-grey);
    font-size: 1.2rem;
}