:root {
    --primary-color: #FF7847;
    --secondary-color: #00BFA5;
    --accent-color: #FF7847;
    --bg-white: #FFFFFF;
    --bg-light-grey: #F5F7FA;
    --text-dark-grey: #1F2937;
    --text-muted-grey: #6B7280;
}

body {
    margin: 0;
    font-family: Georgia;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-light-grey);
    color: var(--text-dark-grey);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-dark-grey);
}

button {
    cursor: pointer;
}